parse_WSDL/smev-message-exchange-service-1.3.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
        xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"
        xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/"
        xmlns:tns="urn://x-artefacts-smev-gov-ru/services/message-exchange/1.3"
        xmlns:types="urn://x-artefacts-smev-gov-ru/services/message-exchange/types/1.3"
        xmlns:fault="urn://x-artefacts-smev-gov-ru/services/message-exchange/types/faults/1.3"
        targetNamespace="urn://x-artefacts-smev-gov-ru/services/message-exchange/1.3">

    <wsdl:documentation>
        Веб-сервис, предоставляемый СМЭВ, через который
        все участники межведомственного взаимодействия обмениваются сообщениями.
    </wsdl:documentation>

    <jaxws:bindings xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
        <!-- Напишите здесь имя пакета, в который должны попасть классы, сгенерированные из этого wsdl с помощью ws import -->
        <jaxws:package name="ru.it.smev.message_exchange.autogenerated.service.v1_3"/>
    </jaxws:bindings>

    <wsp:Policy wsu:Id="MTOM_Policy">
        <wsoma:OptimizedMimeSerialization wsp:Optional="true"/>
    </wsp:Policy>

    <wsdl:types>
        <xs:schema>
            <xs:import namespace="urn://x-artefacts-smev-gov-ru/services/message-exchange/types/1.3"
                       schemaLocation="smev-message-exchange-types-1.3.xsd"/>
            <xs:import namespace="urn://x-artefacts-smev-gov-ru/services/message-exchange/types/faults/1.3"
                       schemaLocation="smev-message-exchange-faults-1.3.xsd"/>
        </xs:schema>
    </wsdl:types>


    <wsdl:message name="SendRequestRequestMsg">
        <wsdl:part name="parameters" element="types:SendRequestRequest"/>
    </wsdl:message>
    <wsdl:message name="SendRequestResponseMsg">
        <wsdl:part name="parameters" element="types:SendRequestResponse"/>
    </wsdl:message>
    <wsdl:message name="SendResponseRequestMsg">
        <wsdl:part name="parameters" element="types:SendResponseRequest"/>
    </wsdl:message>
    <wsdl:message name="SendResponseResponseMsg">
        <wsdl:part name="parameters" element="types:SendResponseResponse"/>
    </wsdl:message>

    <wsdl:message name="GetRequestRequestMsg">
        <wsdl:part name="parameters" element="types:GetRequestRequest"/>
    </wsdl:message>
    <wsdl:message name="GetRequestResponseMsg">
        <wsdl:part name="parameters" element="types:GetRequestResponse"/>
    </wsdl:message>
    <wsdl:message name="GetStatusRequestMsg">
        <wsdl:part name="parameters" element="types:GetStatusRequest"/>
    </wsdl:message>
    <wsdl:message name="GetStatusResponseMsg">
        <wsdl:part name="parameters" element="types:GetStatusResponse"/>
    </wsdl:message>
    <wsdl:message name="GetResponseRequestMsg">
        <wsdl:part name="parameters" element="types:GetResponseRequest"/>
    </wsdl:message>
    <wsdl:message name="GetResponseResponseMsg">
        <wsdl:part name="parameters" element="types:GetResponseResponse"/>
    </wsdl:message>
    <wsdl:message name="AckRequestMsg">
        <wsdl:part name="parameters" element="types:AckRequest"/>
    </wsdl:message>
    <wsdl:message name="AckResponseMsg">
        <wsdl:part name="parameters" element="types:AckResponse"/>
    </wsdl:message>


    <wsdl:message name="BusinessDataTypeIsNotSupportedException">
        <wsdl:part name="parameters" element="fault:BusinessDataTypeIsNotSupported"/>
    </wsdl:message>
    <wsdl:message name="SignatureVerificationFaultException">
        <wsdl:part name="parameters" element="fault:SignatureVerificationFault"/>
    </wsdl:message>
    <wsdl:message name="InvalidContentException">
        <wsdl:part name="parameters" element="fault:InvalidContent"/>
    </wsdl:message>
    <wsdl:message name="AttachmentContentMiscoordinationException">
        <wsdl:part name="parameters" element="fault:AttachmentContentMiscoordination"/>
    </wsdl:message>
    <wsdl:message name="AttachmentSizeLimitExceededException">
        <wsdl:part name="parameters" element="fault:AttachmentSizeLimitExceeded"/>
    </wsdl:message>
    <wsdl:message name="QuoteLimitExceededException">
        <wsdl:part name="parameters" element="fault:QuoteLimitExceeded"/>
    </wsdl:message>
    <wsdl:message name="AccessDeniedException">
        <wsdl:part name="parameters" element="fault:AccessDenied"/>
    </wsdl:message>
    <wsdl:message name="MessageIsAlreadySentException">
        <wsdl:part name="parameters" element="fault:MessageIsAlreadySent"/>
    </wsdl:message>
    <wsdl:message name="InvalidMessageIdFormatException">
        <wsdl:part name="parameters" element="fault:InvalidMessageIdFormat"/>
    </wsdl:message>
    <wsdl:message name="StaleMessageIdException">
        <wsdl:part name="parameters" element="fault:StaleMessageId"/>
    </wsdl:message>
    <wsdl:message name="EndOfLifeException">
        <wsdl:part name="parameters" element="fault:EndOfLifeReached"/>
    </wsdl:message>

    <wsdl:message name="SMEVFailureException">
        <wsdl:part name="parameters" element="fault:SMEVFailure"/>
    </wsdl:message>

    <wsdl:message name="TransactionCodeInvalidException">
        <wsdl:part name="parameters" element="fault:TransactionCodeInvalid"/>
    </wsdl:message>

    <wsdl:message name="RequestIsNotFoundException">
        <wsdl:part name="parameters" element="fault:RequestIsNotFound"/>
    </wsdl:message>
    <wsdl:message name="TargetMessageIsNotFoundException">
        <wsdl:part name="parameters" element="fault:TargetMessageIsNotFound"/>
    </wsdl:message>


    <wsdl:message name="IncorrectResponseContentTypeException">
        <wsdl:part name="parameters" element="fault:IncorrectResponseContentType"/>
    </wsdl:message>

    <wsdl:message name="SenderIsNotRegisteredException">
        <wsdl:part name="parameters" element="fault:SenderIsNotRegistered"/>
    </wsdl:message>
    <wsdl:message name="RecipientIsNotFoundException">
        <wsdl:part name="parameters" element="fault:RecipientIsNotFound"/>
    </wsdl:message>

    <wsdl:message name="UnknownMessageTypeException">
        <wsdl:part name="parameters" element="fault:UnknownMessageType"/>
    </wsdl:message>

    <wsdl:message name="DestinationOverflowException">
        <wsdl:part name="parameters" element="fault:DestinationOverflow"/>
    </wsdl:message>

    <wsdl:portType name="SMEVMessageExchangePortType">
        <wsdl:documentation>
            Точка доступа, позволяющая принимать запросы любых типов,
            а также заявки на предоставление госуслуг.
            Кроме того, через этот сервис производится отмена запросов.
            Поскольку СМЭВ поколения 2 работает в режиме принудительной передачи ответов,
            функциональность "узнать статус запроса и получить ответ, если он готов" отсутствует.
        </wsdl:documentation>
        <wsdl:operation name="SendRequest">
            <wsdl:documentation>
                Послать запрос.
                Факт прихода запроса говорит о том, что СМЭВ удостоверился в том, что отправитель
                имеет право на получение данных по этому типу запросов.
                Дополнительный контроль доступа в ИС-поставщике данных запрещён.
                Тип запроса идентифицируется полным именем (qualified name) элемента //SendRequestRequest/PrimaryContent/element().
            </wsdl:documentation>
            <wsdl:input message="tns:SendRequestRequestMsg"/>
            <wsdl:output message="tns:SendRequestResponseMsg"/>
            <wsdl:fault name="BusinessDataTypeIsNotSupportedFault" message="tns:BusinessDataTypeIsNotSupportedException">
                <wsdl:documentation>
                    Запрос с таким полным именем корневого элемента не зарегистрирован в СМЭВ (см. //SendRequestRequest/MessagePrimaryContent/element()).
                    Вероятные причины:
                    ошибка при формировании содержательной части запроса (см. //SendRequestRequest/MessagePrimaryContent/element());
                    запрос этого типа ещё не зарегистрирован в СМЭВ.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault name="TransactionCodeInvalidFault" message="tns:TransactionCodeInvalidException">
                <wsdl:documentation>
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault name="SignatureVerificationFaultFault" message="tns:SignatureVerificationFaultException">
                <wsdl:documentation>
                    ЭП-ОВ не прошла проверку.
                    Действия клиента: см. описание {urn://x-artefacts-smev-gov-ru/smev-core/client-interaction/types/1.3}SignatureVerificationFault.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault name="InvalidContentFault" message="tns:InvalidContentException">
                <wsdl:documentation>
                    Содержательная часть сообщения (//SendRequestRequest/PrimaryContent/element()) не прошла валидацию по XSD,
                    зарегистрированной в СМЭВ для этого типа запросов.
                    Бизнес-конверт (//SendRequestRequest) содержит не все подэлементы, обязательные для заполнения, либо имеет неверный формат.
                    Действия клиента: исправить ошибки и послать запрос повторно.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault name="AttachmentContentMiscoordinationFault" message="tns:AttachmentContentMiscoordinationException">
                <wsdl:documentation>
                    Заголовки вложений не соответствуют содержимому.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault name="AttachmentSizeLimitExceededFault" message="tns:AttachmentSizeLimitExceededException">
                <wsdl:documentation>
                    Суммарный размер вложений превысил предел, установленный правилами СМЭВ.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault name="QuoteLimitExceededFault" message="tns:QuoteLimitExceededException">
                <wsdl:documentation>
                    Суммарный размер вложений превысил значения квоты СМЭВ.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault name="AccessDeniedFault" message="tns:AccessDeniedException">
                <wsdl:documentation>
                    Отправителю не разрешено отправлять запросы этого типа.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault name="SenderIsNotRegisteredFault" message="tns:SenderIsNotRegisteredException">
                <wsdl:documentation>
                    Отправитель сообщения не зарегистрирован в СМЭВ.
                    Возможная причина - смена X-400 имени при получении нового сертификата.
                    Остальные возможные причины - неправильная настройка СМЭВ.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault name="RecipientIsNotFoundFault" message="tns:RecipientIsNotFoundException">
                <wsdl:documentation>
                    Не найден получатель для запроса.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault name="DestinationOverflowFault" message="tns:DestinationOverflowException">
                <wsdl:documentation>
                    Очередь, в которую должен быть послано сообщение, переполнена.
                    Действия клиента: обратиться в службу техподдержки СМЭВ, и продолжать посылать запрос повторно, до успеха.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault name="SMEVFailureFault" message="tns:SMEVFailureException">
                <wsdl:documentation>
                    Сообщение невозможно принять по причине сбоя в инфраструктуре СМЭВ.
                    Действия клиента: оповестить техподдержку СМЭВ, предпринимать повторные попытки доставить сообщение, без ограничения количества попыток.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault name="MessageIsAlreadySentFault" message="tns:MessageIsAlreadySentException">
                <wsdl:documentation>
                    Сообщение с таким MessageID уже было отправлено ранее.
                    Возможно в следующих ситуациях:
                    a) Клиент пытался отправить сообщение, отправка прошла успешно, но в конце взаимодействия HTTP соединение оборвалось,
                    и клиент не получил ответ от СМЭВ об успешной отправке.
                    При повторной попытке отправить сообщение клиент получит этот fault.
                    В этой ситуации нужно прекратить пытаться повторно послать сообщение.
                    b) Клиент использует алгоритм генерации ID сообщений, не соответствующий МР.
                    c) Клиент пытается послать несколько сообщений, используя один и тот же ID.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault name="InvalidMessageIdFormatFault" message="tns:InvalidMessageIdFormatException">
                <wsdl:documentation>
                    Идентификатор, присвоенный сообщению отправителем, не является корректным строковым представлением UUID, вариант 1 (см. RFC-4122).
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault name="StaleMessageIdFault" message="tns:StaleMessageIdException">
                <wsdl:documentation>
                    Идентификатор (UUID), присвоенный сообщению отправителем, содержит старый timestamp.
                    Возможно в следующих случаях:
                    a) в системе отправителя неверно установлено время.
                    Действия клиента: установить в операционной системе реальное время.
                    b) в результате очень плохого качества связи, сообщение пытаются отправить в течение двух суток или более.
                    Действия клиента: сгенерировать новый UUID, присвоить его сообщению, отправить сообщение.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault name="EndOfLifeFault" message="tns:EndOfLifeException">
                <wsdl:documentation>
                    Превышено время жизни сообщения (end of life).
                    Действия клиента: должны предприниматься повторные попытки доставить сообщение,
                    возможно с увеличенным временем жизни.
                </wsdl:documentation>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="SendResponse">
            <wsdl:documentation>
                Дай сообщение из моей входящей очереди, если она не пуста.
            </wsdl:documentation>
            <wsdl:input message="tns:SendResponseRequestMsg"/>
            <wsdl:output message="tns:SendResponseResponseMsg"/>
            <wsdl:fault name="BusinessDataTypeIsNotSupportedFault" message="tns:BusinessDataTypeIsNotSupportedException">
                <wsdl:documentation>
                    Ответ с таким полным именем корневого элемента не зарегистрирован в СМЭВ (см. //SendResponseRequest/MessagePrimaryContent/element()).
                    Вероятные причины:
                    ошибка при формировании содержательной части ответа (см. //SendResponseRequest/MessagePrimaryContent/element());
                    схема, в которой описан XML-тип, ещё не зарегистрирован в СМЭВ.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault name="SignatureVerificationFaultFault" message="tns:SignatureVerificationFaultException">
                <wsdl:documentation>
                    ЭП-ОВ не прошла проверку.
                    Действия клиента: см. описание {urn://x-artefacts-smev-gov-ru/smev-core/client-interaction/fault/1.3}SignatureVerificationFault.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault name="SMEVFailureFault" message="tns:SMEVFailureException">
                <wsdl:documentation>
                    Сообщение невозможно отправить по причине сбоя в инфраструктуре СМЭВ.
                    Действия клиента: оповестить техподдержку СМЭВ, предпринимать повторные попытки доставить сообщение, без ограничения количества попыток.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault name="InvalidContentFault" message="tns:InvalidContentException">
                <wsdl:documentation>
                    Содержательная часть сообщения (//SendResponseRequest/PrimaryContent/element()) не прошла валидацию по XSD,
                    зарегистрированной в СМЭВ для этого типа сообщений.
                    Бизнес-конверт (//SendResponseRequest) содержит не все подэлементы, обязательные для заполнения, либо имеет неверный формат.
                    Действия клиента: исправить ошибки и послать ответ повторно.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault name="AttachmentContentMiscoordinationFault" message="tns:AttachmentContentMiscoordinationException">
                <wsdl:documentation>
                    Заголовки вложений не соответствуют содержимому.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault name="AttachmentSizeLimitExceededFault" message="tns:AttachmentSizeLimitExceededException">
                <wsdl:documentation>
                    Суммарный размер вложений превысил предел, установленный правилами СМЭВ.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault name="QuoteLimitExceededFault" message="tns:QuoteLimitExceededException">
                <wsdl:documentation>
                    Суммарный размер вложений превысил значения квоты СМЭВ.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault name="IncorrectResponseContentTypeFault" message="tns:IncorrectResponseContentTypeException">
                <wsdl:documentation>
                    Содержимое посылается через метод SendResponse,
                    но, согласно реестру типов запросов СМЭВ, содержательная часть сообщения
                    представляет из себя запрос или заявку, а не ответ.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault name="SenderIsNotRegisteredFault" message="tns:SenderIsNotRegisteredException">
                <wsdl:documentation>
                    Отправитель сообщения не зарегистрирован в СМЭВ.
                    Возможная причина - смена X-400 имени при получении нового сертификата.
                    Остальные возможные причины - неправильная настройка СМЭВ.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault name="RecipientIsNotFoundFault" message="tns:RecipientIsNotFoundException">
                <wsdl:documentation>
                    Содержимое посылается через метод SendResponse,
                    но значение //SendResponseRequest/To/text(), по данным СМЭВ,
                    не соотевтствует никакому получателю.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault name="DestinationOverflowFault" message="tns:DestinationOverflowException">
                <wsdl:documentation>
                    Очередь, в которую должен быть послано сообщение, переполнена.
                    Действия клиента: обратиться в службу техподдержки СМЭВ, и продолжать посылать ответ повторно, до успеха.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault name="MessageIsAlreadySentFault" message="tns:MessageIsAlreadySentException">
                <wsdl:documentation>
                    Сообщение с таким MessageID уже было отправлено ранее.
                    Возможно в следующих ситуациях:
                    a) Клиент пытался отправить сообщение, отправка прошла успешно, но в конце взаимодействия HTTP соединение оборвалось,
                    и клиент не получил ответ от СМЭВ об успешной отправке.
                    При повторной попытке отправить сообщение клиент получит этот fault.
                    В этой ситуации нужно прекратить пытаться повторно послать сообщение.
                    b) Клиент использует алгоритм генерации ID сообщений, не соответствующий МР.
                    c) Клиент пытается послать несколько сообщений, используя один и тот же ID.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault name="InvalidMessageIdFormatFault" message="tns:InvalidMessageIdFormatException">
                <wsdl:documentation>
                    Идентификатор, присвоенный сообщению отправителем, не является корректным строковым представлением UUID, вариант 1 (см. RFC-4122).
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault name="StaleMessageIdFault" message="tns:StaleMessageIdException">
                <wsdl:documentation>
                    Идентификатор (UUID), присвоенный сообщению отправителем, содержит старый timestamp.
                    Возможно в следующих случаях:
                    a) в системе отправителя неверно установлено время.
                    Действия клиента: установить в операционной системе реальное время.
                    b) в результате очень плохого качества связи, сообщение пытаются отправить в течение двух суток или более.
                    Действия клиента: сгенерировать новый UUID, присвоить его сообщению, отправить сообщение.
                </wsdl:documentation>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="GetStatus">
            <wsdl:documentation>Дай сообщение из моей входящей очереди _запросов_, если она не пуста.</wsdl:documentation>
            <wsdl:input message="tns:GetStatusRequestMsg"/>
            <wsdl:output message="tns:GetStatusResponseMsg"/>
            <wsdl:fault name="InvalidContentFault" message="tns:InvalidContentException">
                <wsdl:documentation>
                    Бизнес-конверт (//GetStatusRequest) содержит не все подэлементы, обязательные для заполнения, либо имеет неверный формат.
                    Действия клиента: исправить ошибки и послать запрос повторно.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault name="SignatureVerificationFaultFault" message="tns:SignatureVerificationFaultException">
                <wsdl:documentation>
                    ЭП-ОВ не прошла проверку.
                    Действия клиента: см. описание {urn://x-artefacts-smev-gov-ru/smev-core/client-interaction/types/1.3}SignatureVerificationFault.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault name="SenderIsNotRegisteredFault" message="tns:SenderIsNotRegisteredException">
                <wsdl:documentation>
                    Отправитель сообщения не зарегистрирован в СМЭВ.
                    Возможные причины:
                    - смена X-400 имени при получении нового сертификата.
                    - неправильная настройка СМЭВ.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault name="UnknownMessageTypeFault" message="tns:UnknownMessageTypeException">
                <wsdl:documentation>
                    a) Указан тип сообщения, либо не зарегистрированный в СМЭВ.
                    b) Текущий клиент не является зарегистрированным поставщиком сведений по запрошенному типу сообщения.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault name="SMEVFailureFault" message="tns:SMEVFailureException">
                <wsdl:documentation>
                    Сообщение невозможно принять по причине сбоя в инфраструктуре СМЭВ.
                    Действия клиента: оповестить техподдержку СМЭВ, предпринимать повторные попытки доставить сообщение, без ограничения количества попыток.
                </wsdl:documentation>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetRequest">
            <wsdl:documentation>Дай сообщение из моей входящей очереди _запросов_, если она не пуста.</wsdl:documentation>
            <wsdl:input message="tns:GetRequestRequestMsg"/>
            <wsdl:output message="tns:GetRequestResponseMsg"/>
            <wsdl:fault name="InvalidContentFault" message="tns:InvalidContentException">
                <wsdl:documentation>
                    Бизнес-конверт (//GetRequestRequest) содержит не все подэлементы, обязательные для заполнения, либо имеет неверный формат.
                    Действия клиента: исправить ошибки и послать запрос повторно.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault name="SignatureVerificationFaultFault" message="tns:SignatureVerificationFaultException">
                <wsdl:documentation>
                    ЭП-ОВ не прошла проверку.
                    Действия клиента: см. описание {urn://x-artefacts-smev-gov-ru/smev-core/client-interaction/types/1.3}SignatureVerificationFault.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault name="SenderIsNotRegisteredFault" message="tns:SenderIsNotRegisteredException">
                <wsdl:documentation>
                    Отправитель сообщения не зарегистрирован в СМЭВ.
                    Возможные причины:
                    - смена X-400 имени при получении нового сертификата.
                    - неправильная настройка СМЭВ.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault name="UnknownMessageTypeFault" message="tns:UnknownMessageTypeException">
                <wsdl:documentation>
                    a) Указан тип сообщения, либо не зарегистрированный в СМЭВ.
                    b) Текущий клиент не является зарегистрированным поставщиком сведений по запрошенному типу сообщения.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault name="SMEVFailureFault" message="tns:SMEVFailureException">
                <wsdl:documentation>
                    Сообщение невозможно принять по причине сбоя в инфраструктуре СМЭВ.
                    Действия клиента: оповестить техподдержку СМЭВ, предпринимать повторные попытки доставить сообщение, без ограничения количества попыток.
                </wsdl:documentation>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetResponse">
            <wsdl:documentation>Дай сообщение из моей входящей очереди _ответов_, если она не пуста.</wsdl:documentation>
            <wsdl:input message="tns:GetResponseRequestMsg"/>
            <wsdl:output message="tns:GetResponseResponseMsg"/>
            <wsdl:fault name="InvalidContentFault" message="tns:InvalidContentException">
                <wsdl:documentation>
                    Бизнес-конверт (//GetResponseRequest) содержит не все подэлементы, обязательные для заполнения, либо имеет неверный формат.
                    Действия клиента: исправить ошибки и послать запрос повторно.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault name="SignatureVerificationFaultFault" message="tns:SignatureVerificationFaultException">
                <wsdl:documentation>
                    ЭП-ОВ не прошла проверку.
                    Действия клиента: см. описание {urn://x-artefacts-smev-gov-ru/smev-core/client-interaction/types/1.3}SignatureVerificationFault.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault name="SenderIsNotRegisteredFault" message="tns:SenderIsNotRegisteredException">
                <wsdl:documentation>
                    Отправитель сообщения не зарегистрирован в СМЭВ.
                    Возможные причины:
                    - смена X-400 имени при получении нового сертификата.
                    - неправильная настройка СМЭВ.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault name="UnknownMessageTypeFault" message="tns:UnknownMessageTypeException">
                <wsdl:documentation>
                    Указан тип сообщения, либо не зарегистрированный в СМЭВ.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault name="SMEVFailureFault" message="tns:SMEVFailureException">
                <wsdl:documentation>
                    Сообщение невозможно принять по причине сбоя в инфраструктуре СМЭВ.
                    Действия клиента: оповестить техподдержку СМЭВ, предпринимать повторные попытки доставить сообщение, без ограничения количества попыток.
                </wsdl:documentation>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="Ack">
            <wsdl:documentation>
                Подтверждение получения сообщения из очереди.
                Должен вызваться после получения сообщения методами GetRequest или GetResponse.
            </wsdl:documentation>
            <wsdl:input message="tns:AckRequestMsg"/>
            <wsdl:output message="tns:AckResponseMsg"/>
            <wsdl:fault name="InvalidContentFault" message="tns:InvalidContentException">
                <wsdl:documentation>
                    Бизнес-конверт (//AckRequest) содержит не все подэлементы, обязательные для заполнения, либо имеет неверный формат.
                    Действия клиента: исправить ошибки и послать запрос повторно.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault name="SignatureVerificationFaultFault" message="tns:SignatureVerificationFaultException">
                <wsdl:documentation>
                    ЭП-ОВ не прошла проверку.
                    Действия клиента: см. описание {urn://x-artefacts-smev-gov-ru/smev-core/client-interaction/fault/1.3}SignatureVerificationFault.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault name="SenderIsNotRegisteredFault" message="tns:SenderIsNotRegisteredException">
                <wsdl:documentation>
                    Отправитель сообщения не зарегистрирован в СМЭВ.
                    Возможная причина - смена X-400 имени при получении нового сертификата.
                    Остальные возможные причины - неправильная настройка СМЭВ.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault name="SMEVFailureFault" message="tns:SMEVFailureException">
                <wsdl:documentation>
                    Сообщение невозможно отправить по причине сбоя в инфраструктуре СМЭВ.
                    Действия клиента: оповестить техподдержку СМЭВ, предпринимать повторные попытки доставить сообщение, без ограничения количества попыток.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault name="TargetMessageIsNotFoundFault" message="tns:TargetMessageIsNotFoundException">
                <wsdl:documentation>
                    При попытке подтвердить получение сообщения, СМЭВ не находит неподтверждённого сообщения с таким ID.
                </wsdl:documentation>
            </wsdl:fault>
        </wsdl:operation>

    </wsdl:portType>

    <wsdl:binding name="SMEVMessageExchangeSoap11Binding" type="tns:SMEVMessageExchangePortType">
        <wsp:PolicyReference URI="#MTOM_Policy"/>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="SendRequest">
            <soap:operation soapAction="urn:SendRequest"/>
            <wsdl:input><soap:body use="literal"/></wsdl:input>
            <wsdl:output><soap:body use="literal"/></wsdl:output>
            <wsdl:fault name="BusinessDataTypeIsNotSupportedFault"><soap:fault name="BusinessDataTypeIsNotSupportedFault" use="literal"/></wsdl:fault>
            <wsdl:fault name="SMEVFailureFault"><soap:fault name="SMEVFailureFault" use="literal"/></wsdl:fault>
            <wsdl:fault name="InvalidContentFault"><soap:fault name="InvalidContentFault" use="literal"/></wsdl:fault>
            <wsdl:fault name="SignatureVerificationFaultFault"><soap:fault name="SignatureVerificationFaultFault" use="literal"/></wsdl:fault>
            <wsdl:fault name="SenderIsNotRegisteredFault"><soap:fault name="SenderIsNotRegisteredFault" use="literal"/></wsdl:fault>
            <wsdl:fault name="RecipientIsNotFoundFault"><soap:fault name="RecipientIsNotFoundFault" use="literal"/></wsdl:fault>
            <wsdl:fault name="DestinationOverflowFault"><soap:fault name="DestinationOverflowFault" use="literal"/></wsdl:fault>
            <wsdl:fault name="AttachmentContentMiscoordinationFault"><soap:fault name="AttachmentContentMiscoordinationFault" use="literal"/></wsdl:fault>
            <wsdl:fault name="AttachmentSizeLimitExceededFault"><soap:fault name="AttachmentSizeLimitExceededFault" use="literal"/></wsdl:fault>
            <wsdl:fault name="QuoteLimitExceededFault"><soap:fault name="QuoteLimitExceededFault" use="literal"/></wsdl:fault>
            <wsdl:fault name="AccessDeniedFault"><soap:fault name="AccessDeniedFault" use="literal"/></wsdl:fault>
            <wsdl:fault name="TransactionCodeInvalidFault"><soap:fault name="TransactionCodeInvalidFault" use="literal"/></wsdl:fault>
            <wsdl:fault name="MessageIsAlreadySentFault"><soap:fault name="MessageIsAlreadySentFault" use="literal"/></wsdl:fault>
            <wsdl:fault name="InvalidMessageIdFormatFault"><soap:fault name="InvalidMessageIdFormatFault" use="literal"/></wsdl:fault>
            <wsdl:fault name="StaleMessageIdFault"><soap:fault name="StaleMessageIdFault" use="literal"/></wsdl:fault>
            <wsdl:fault name="EndOfLifeFault"><soap:fault name="EndOfLifeFault" use="literal"/></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="SendResponse">
            <soap:operation soapAction="urn:SendResponse"/>
            <wsdl:input><soap:body use="literal"/></wsdl:input>
            <wsdl:output><soap:body use="literal"/></wsdl:output>
            <wsdl:fault name="BusinessDataTypeIsNotSupportedFault"><soap:fault name="BusinessDataTypeIsNotSupportedFault" use="literal"/></wsdl:fault>
            <wsdl:fault name="SMEVFailureFault"><soap:fault name="SMEVFailureFault" use="literal"/></wsdl:fault>
            <wsdl:fault name="SignatureVerificationFaultFault"><soap:fault name="SignatureVerificationFaultFault" use="literal"/></wsdl:fault>
            <wsdl:fault name="InvalidContentFault"><soap:fault name="InvalidContentFault" use="literal"/></wsdl:fault>
            <wsdl:fault name="IncorrectResponseContentTypeFault"><soap:fault name="IncorrectResponseContentTypeFault" use="literal"/></wsdl:fault>
            <wsdl:fault name="RecipientIsNotFoundFault"><soap:fault name="RecipientIsNotFoundFault" use="literal"/></wsdl:fault>
            <wsdl:fault name="DestinationOverflowFault"><soap:fault name="DestinationOverflowFault" use="literal"/></wsdl:fault>
            <wsdl:fault name="AttachmentContentMiscoordinationFault"><soap:fault name="AttachmentContentMiscoordinationFault" use="literal"/></wsdl:fault>
            <wsdl:fault name="AttachmentSizeLimitExceededFault"><soap:fault name="AttachmentSizeLimitExceededFault" use="literal"/></wsdl:fault>
            <wsdl:fault name="QuoteLimitExceededFault"><soap:fault name="QuoteLimitExceededFault" use="literal"/></wsdl:fault>
            <wsdl:fault name="SenderIsNotRegisteredFault"><soap:fault name="SenderIsNotRegisteredFault" use="literal"/></wsdl:fault>
            <wsdl:fault name="MessageIsAlreadySentFault"><soap:fault name="MessageIsAlreadySentFault" use="literal"/></wsdl:fault>
            <wsdl:fault name="InvalidMessageIdFormatFault"><soap:fault name="InvalidMessageIdFormatFault" use="literal"/></wsdl:fault>
            <wsdl:fault name="StaleMessageIdFault"><soap:fault name="StaleMessageIdFault" use="literal"/></wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="GetRequest">
            <soap:operation soapAction="urn:GetRequest"/>
            <wsdl:input><soap:body use="literal"/></wsdl:input>
            <wsdl:output><soap:body use="literal"/></wsdl:output>
            <wsdl:fault name="InvalidContentFault"><soap:fault name="InvalidContentFault" use="literal"/></wsdl:fault>
            <wsdl:fault name="SMEVFailureFault"><soap:fault name="SMEVFailureFault" use="literal"/></wsdl:fault>
            <wsdl:fault name="SignatureVerificationFaultFault"><soap:fault name="SignatureVerificationFaultFault" use="literal"/></wsdl:fault>
            <wsdl:fault name="SenderIsNotRegisteredFault"><soap:fault name="SenderIsNotRegisteredFault" use="literal"/></wsdl:fault>
            <wsdl:fault name="UnknownMessageTypeFault"><soap:fault name="UnknownMessageTypeFault" use="literal"/></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetStatus">
            <soap:operation soapAction="urn:GetStatus"/>
            <wsdl:input><soap:body use="literal"/></wsdl:input>
            <wsdl:output><soap:body use="literal"/></wsdl:output>
            <wsdl:fault name="InvalidContentFault"><soap:fault name="InvalidContentFault" use="literal"/></wsdl:fault>
            <wsdl:fault name="SMEVFailureFault"><soap:fault name="SMEVFailureFault" use="literal"/></wsdl:fault>
            <wsdl:fault name="SignatureVerificationFaultFault"><soap:fault name="SignatureVerificationFaultFault" use="literal"/></wsdl:fault>
            <wsdl:fault name="SenderIsNotRegisteredFault"><soap:fault name="SenderIsNotRegisteredFault" use="literal"/></wsdl:fault>
            <wsdl:fault name="UnknownMessageTypeFault"><soap:fault name="UnknownMessageTypeFault" use="literal"/></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetResponse">
            <soap:operation soapAction="urn:GetResponse"/>
            <wsdl:input><soap:body use="literal"/></wsdl:input>
            <wsdl:output><soap:body use="literal"/></wsdl:output>
            <wsdl:fault name="InvalidContentFault"><soap:fault name="InvalidContentFault" use="literal"/></wsdl:fault>
            <wsdl:fault name="SMEVFailureFault"><soap:fault name="SMEVFailureFault" use="literal"/></wsdl:fault>
            <wsdl:fault name="SignatureVerificationFaultFault"><soap:fault name="SignatureVerificationFaultFault" use="literal"/></wsdl:fault>
            <wsdl:fault name="SenderIsNotRegisteredFault"><soap:fault name="SenderIsNotRegisteredFault" use="literal"/></wsdl:fault>
            <wsdl:fault name="UnknownMessageTypeFault"><soap:fault name="UnknownMessageTypeFault" use="literal"/></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="Ack">
            <soap:operation soapAction="urn:Ack"/>
            <wsdl:input><soap:body use="literal"/></wsdl:input>
            <wsdl:output><soap:body use="literal"/></wsdl:output>
            <wsdl:fault name="InvalidContentFault"><soap:fault name="InvalidContentFault" use="literal"/></wsdl:fault>
            <wsdl:fault name="SMEVFailureFault"><soap:fault name="SMEVFailureFault" use="literal"/></wsdl:fault>
            <wsdl:fault name="SignatureVerificationFaultFault"><soap:fault name="SignatureVerificationFaultFault" use="literal"/></wsdl:fault>
            <wsdl:fault name="SenderIsNotRegisteredFault"><soap:fault name="SenderIsNotRegisteredFault" use="literal"/></wsdl:fault>
            <wsdl:fault name="TargetMessageIsNotFoundFault"><soap:fault name="TargetMessageIsNotFoundFault" use="literal"/></wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="SMEVMessageExchangeService">
        <wsdl:port name="SMEVMessageExchangeEndpoint" binding="tns:SMEVMessageExchangeSoap11Binding">
            <wsdl:documentation>
                <wsi:Claim conformsTo="http://ws-i.org/profiles/basic/1.2"/>
            </wsdl:documentation>
            <soap:address location="http://localhost:8080/transport_1_0_2/"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
	