XML/lxml__xml.etree__examples/parse_WSDL/smev-message-exchange-types-1.3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   xmlns:tns="urn://x-artefacts-smev-gov-ru/services/message-exchange/types/1.3"
		   xmlns:basic="urn://x-artefacts-smev-gov-ru/services/message-exchange/types/basic/1.3"
		   xmlns:rout="urn://x-artefacts-smev-gov-ru/services/message-exchange/types/routing/1.3"
		   xmlns:direct="urn://x-artefacts-smev-gov-ru/services/message-exchange/types/directive/1.3"
		   xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
		   targetNamespace="urn://x-artefacts-smev-gov-ru/services/message-exchange/types/1.3"
		   elementFormDefault="qualified"
		   attributeFormDefault="unqualified"
		   jxb:version="2.0">

	<xs:annotation>
		<xs:documentation>
			Типы и элементы для веб-сервиса, который СМЭВ предоставляет всем участникам межведомственного взаимодействия для обмена сообщениями.
		</xs:documentation>
		<xs:appinfo>
			<jxb:schemaBindings>
				<!-- Напишите здесь имя пакета, в который должны попасть классы, сгенерированные из этой схемы с помощью ws import -->
				<jxb:package name="ru.it.smev.message_exchange.autogenerated.types.v1_3"/>
			</jxb:schemaBindings>
		</xs:appinfo>
	</xs:annotation>

	<xs:import namespace="urn://x-artefacts-smev-gov-ru/services/message-exchange/types/basic/1.3" schemaLocation="smev-message-exchange-basic-1.3.xsd"/>
	<xs:import namespace="urn://x-artefacts-smev-gov-ru/services/message-exchange/types/routing/1.3" schemaLocation="smev-message-exchange-routing-1.3.xsd"/>
    <xs:import namespace="urn://x-artefacts-smev-gov-ru/services/message-exchange/types/directive/1.3" schemaLocation="smev-message-exchange-directive-1.3.xsd"/>

	<xs:element name="SendRequestRequest">
		<xs:annotation><xs:documentation>Параметры метода "Послать запрос".</xs:documentation></xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:SenderProvidedRequestData">
					<xs:annotation><xs:documentation>Содержательная часть запроса + служебные данные, заполняемые отправителем.</xs:documentation></xs:annotation>
				</xs:element>
				<xs:element ref="basic:AttachmentContentList" minOccurs="0">
					<xs:annotation><xs:documentation>Вложенные файлы - содержимое. Содержимое вынесено из-под ЭП-ОВ, чтобы не нарушать работу MTOM.</xs:documentation></xs:annotation>
				</xs:element>
				<xs:element name="CallerInformationSystemSignature" type="basic:XMLDSigSignatureType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							ЭП-ОВ или ЭП-ПГУ. Подписан элемент //SenderProvidedRequestData.
							Подпись оставлена необязательной, чтобы клиентов можно было тестировать с упрощёнными эмуляторами СМЭВ.
							Реальный СМЭВ отбивает сообщения без ЭП-ОВ или ЭП-ПГУ.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="rout:Routing" minOccurs="0">
					<xs:annotation><xs:documentation>Маршрутизация для сообщения с директивными ВВС (только для МР 3.5)</xs:documentation></xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="SendRequestResponse">
		<xs:annotation>
			<xs:documentation>
				Возвращаемое значение метода "Послать запрос": запрос принят.
				Если запрос не может быть принят, информация о причине отказа передаётся через SOAP fault, см. WSDL-описание сервиса.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:MessageMetadata">
					<xs:annotation>
						<xs:documentation>
							Данные о сообщении: ID, присвоенный СМЭВ, дата приёма по часам СМЭВ, результат маршрутизации, etc.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="SMEVSignature" type="basic:XMLDSigSignatureType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							ЭП-СМЭВ. Подписан элемент //MessageMetadata.
							Подпись оставлена необязательной, чтобы клиентов можно было тестировать с упрощёнными эмуляторами СМЭВ.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="SendResponseRequest">
		<xs:annotation><xs:documentation>Параметры метода "Послать ответ на запрос".</xs:documentation></xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:SenderProvidedResponseData"/>
				<xs:element ref="basic:AttachmentContentList" minOccurs="0"/>
				<xs:element name="CallerInformationSystemSignature" type="basic:XMLDSigSignatureType" minOccurs="0">
					<xs:annotation><xs:documentation>ЭП-ОВ или ЭП-ПГУ. Подписан элемент //SenderProvidedResponseData.</xs:documentation></xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="SendResponseResponse">
		<xs:annotation>
			<xs:documentation>
				Возвращаемое значение метода "Послать ответ на запрос": ответ принят.
				Если ответ не может быть принят, информация о причине отказа передаётся через SOAP fault, см. WSDL-описание сервиса.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:MessageMetadata">
					<xs:annotation>
						<xs:documentation>
							Данные о сообщении: ID, присвоенный СМЭВ, дата приёма по часам СМЭВ, результат маршрутизации, etc.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="SMEVSignature" type="basic:XMLDSigSignatureType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							ЭП-СМЭВ. Подписан элемент //MessageMetadata.
							Подпись оставлена необязательной, чтобы клиентов можно было тестировать с упрощёнными эмуляторами СМЭВ.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetStatusRequest">
		<xs:annotation>
			<xs:documentation>
				Параметры метода "получить сообщение из моей входящей очереди запросов, если очередь не пуста".
				Какую входящую очередь смотреть - определаятся по владельцу сертификата, входящего в состав ЭЦП,
				и селектору типа запроса.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="basic:Timestamp"/>
				<xs:element name="CallerInformationSystemSignature" type="basic:XMLDSigSignatureType">
					<xs:annotation>
						<xs:documentation>
							ЭП-ОВ или ЭП-ПГУ. Подписан элемент //Id.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetStatusResponse">
		<xs:annotation>
			<xs:documentation>
				Возвращаемая структура метода "получить сообщение из моей входящей очереди запросов, если очередь не пуста".
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:SmevAsyncProcessingMessage" minOccurs="0">
					<xs:annotation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<xs:element name="SmevAsyncProcessingMessage">
		<xs:annotation>
			<xs:documentation>
				Сообщение об статусе асинхронной обработки в СМЭВ.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:choice minOccurs="1" maxOccurs="1">
					<xs:element ref="tns:AsyncProcessingStatusData" />
				</xs:choice>
				<xs:element name="SMEVSignature" type="basic:XMLDSigSignatureType" minOccurs="0">
					<xs:annotation><xs:documentation>ЭП-СМЭВ. Подписан элемент preceding-sibling:</xs:documentation></xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetRequestRequest">
		<xs:annotation>
			<xs:documentation>
				Параметры метода "получить сообщение из моей входящей очереди запросов, если очередь не пуста".
				Какую входящую очередь смотреть - определаятся по владельцу сертификата, входящего в состав ЭЦП,
				и селектору типа запроса.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="basic:MessageTypeSelector">
					<xs:annotation>
						<xs:documentation>
							См. описание {urn://x-artefacts-smev-gov-ru/services/message-exchange/types/basic/1.3}MessageTypeSelector
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CallerInformationSystemSignature" type="basic:XMLDSigSignatureType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							ЭП-ОВ или ЭП-ПГУ. Подписан элемент //MessageTypeSelector.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetResponseRequest">
		<xs:annotation>
			<xs:documentation>
				Параметры метода "получить сообщение из моей входящей очереди ответов, если очередь не пуста".
				Какую входящую очередь смотреть - определаятся по владельцу сертификата, входящего в состав ЭЦП,
				и селектору типа _ответа_.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="basic:MessageTypeSelector">
					<xs:annotation>
						<xs:documentation>
							См. описание {urn://x-artefacts-smev-gov-ru/services/message-exchange/types/basic/1.3}MessageTypeSelector
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CallerInformationSystemSignature" type="basic:XMLDSigSignatureType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							ЭП-ОВ или ЭП-ПГУ. Подписан элемент //MessageTypeSelector.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetRequestResponse">
		<xs:annotation>
			<xs:documentation>
				Возвращаемая структура метода "получить сообщение из моей входящей очереди запросов, если очередь не пуста".
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RequestMessage" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							Полученное сообщение. Если этот элемент отсутствует, это значит, что входящая очередь пуста.
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:choice>
								<xs:sequence>
									<xs:element ref="tns:Request"/>
									<xs:element ref="basic:AttachmentContentList" minOccurs="0"/>
								</xs:sequence>
							</xs:choice>
							<xs:element name="SMEVSignature" type="basic:XMLDSigSignatureType" minOccurs="0">
								<xs:annotation><xs:documentation>ЭП-СМЭВ. Подписан элемент //Request</xs:documentation></xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetResponseResponse">
		<xs:annotation>
			<xs:documentation>
				Возвращаемая структура метода "получить сообщение из моей входящей очереди, если очередь не пуста".
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Если у GetResponseResponse нет child element, это значит, что входящая очередь пуста.
					</xs:documentation>
				</xs:annotation>
				<xs:element name="ResponseMessage">
					<xs:annotation><xs:documentation>Ответ, присланный поставщиком данных.</xs:documentation></xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="tns:Response"/>
							<xs:element ref="basic:AttachmentContentList" minOccurs="0"/>
							<xs:element name="SMEVSignature" type="basic:XMLDSigSignatureType" minOccurs="0">
								<xs:annotation><xs:documentation>ЭП-СМЭВ. Подписан элемент preceding-sibling::tns:Response</xs:documentation></xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>

	<xs:element name="AsyncProcessingStatus">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="OriginalMessageId" type="basic:UUID"/>
				<xs:element name="StatusCategory" type="basic:InteractionStatusType">
					<xs:annotation><xs:documentation>Категория статуса.</xs:documentation></xs:annotation>
				</xs:element>
				<xs:element name="StatusDetails" type="basic:string-500" minOccurs="0">
					<xs:annotation><xs:documentation>Описание процессинга в человекочитаемом виде.</xs:documentation></xs:annotation>
				</xs:element>
				<xs:element ref="rout:RoutingStatus" minOccurs="0">
                    <xs:annotation><xs:documentation>Статус маршрутизации сообщения</xs:documentation></xs:annotation>
                </xs:element>
				<xs:element name="SmevFault" type="basic:SmevFault"  minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="AsyncProcessingStatusData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:AsyncProcessingStatus" />
			</xs:sequence>
			<xs:attribute name="Id" type="xs:ID"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="AckRequest">
		<xs:annotation><xs:documentation>Параметры метода "Подтверждение получения сообщения".</xs:documentation></xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="basic:AckTargetMessage"/>
				<xs:element name="CallerInformationSystemSignature" type="basic:XMLDSigSignatureType" minOccurs="0">
					<xs:annotation><xs:documentation>ЭП-ОВ или ЭП-ПГУ. Подписан элемент preceding-sibling::basic:AckTargetMessage.</xs:documentation></xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="AckResponse" type="basic:Void">
		<xs:annotation><xs:documentation>Возвращаемое значение метода "Подтверждение получения сообщения".</xs:documentation></xs:annotation>
	</xs:element>

	<xs:element name="SenderProvidedRequestData">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MessageID" type="basic:UUID">
					<xs:annotation>
						<xs:documentation>
							Идентификатор, присвоенный сообщению отправителем.
							Генерируется в соответствии с RFC-4122, по варианту 1 (на основании MAC-адреса и текущего времени).
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ReferenceMessageID" type="basic:UUID" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							Идентификатор сообщения, порождающего цепочку сообщений.
							При отправке подчиненных сообщений значение соответствует MessageID корневого сообщения цепочки сообщений.
							Для корневого сообщения значение совпадает с MessageID
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="TransactionCode" type="basic:string-1500" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							Идентификатор кода транзакции.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="NodeID" type="basic:string-50" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							Идентификатор нода отправителя.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="EOL" type="xs:dateTime" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							Ограничение жизни сообщения.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="basic:MessagePrimaryContent">
					<xs:annotation><xs:documentation>Содержательная часть запроса, XML-документ.</xs:documentation></xs:annotation>
				</xs:element>
				<xs:element name="PersonalSignature" type="basic:XMLDSigSignatureType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							ЭП-СП содержательной части запроса.
							Подписывается элемент, находящийся сразу под MessagePrimaryContent.
							Хотя этот элемент не обязателен, поставщик данных может потребовать,
							чтобы в запросах определённых типов ЭП-СП всегда была.
							Это вызвано тем, что в ряде случаев, согласно ФЗ, сведения могут предоставляться только по запросам
							должностных лиц определённого уровня.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="basic:AttachmentHeaderList" minOccurs="0">
					<xs:annotation><xs:documentation>Заголовки вложенных файлов.</xs:documentation></xs:annotation>
				</xs:element>
				<xs:element ref="basic:RefAttachmentHeaderList" minOccurs="0">
					<xs:annotation><xs:documentation>Заголовки файлов по ссылке.</xs:documentation></xs:annotation>
				</xs:element>
				<xs:element name="BusinessProcessMetadata" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							Информация о бизнес-процессе, в рамках которого пересылается данное сообщение.
							Формат данных определяется в отдельной схеме (схемах).
							На текущий эта информация не обязательна для заполнения отправителем.
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="TestMessage" type="basic:Void" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							Если этот элемент присутствует, то запрос - тестовый.
							В этом случае, ИС-поставщик данных должна гарантировать, что её данные не будут изменены
							в результате выполнения этого запроса.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="Id" type="xs:ID"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="SenderProvidedResponseData">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MessageID" type="basic:UUID">
					<xs:annotation>
						<xs:documentation>
							Идентификатор, присвоенный сообщению отправителем.
							Генерируется в соответствии с RFC-4122, по варианту 1 (на основании MAC-адреса и текущего времени).
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="To" type="basic:string-4000">
					<xs:annotation>
						<xs:documentation>
							Адрес доставки ответа. Копируется из запроса, //GetRequestResponse/ReplyTo/text()
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="basic:MessagePrimaryContent">
							<xs:annotation><xs:documentation>Содержательная часть ответа, XML-документ.</xs:documentation></xs:annotation>
						</xs:element>
						<xs:element name="PersonalSignature" type="basic:XMLDSigSignatureType" minOccurs="0">
							<xs:annotation><xs:documentation>ЭП-СП содержательной части ответа. Подписывается элемент, находящийся сразу под MessagePrimaryContent.</xs:documentation></xs:annotation>
						</xs:element>
						<xs:element ref="basic:AttachmentHeaderList" minOccurs="0">
							<xs:annotation><xs:documentation>Заголовки вложенных файлов.</xs:documentation></xs:annotation>
						</xs:element>
						<xs:element ref="basic:RefAttachmentHeaderList" minOccurs="0">
							<xs:annotation><xs:documentation>Заголовки файлов по ссылке.</xs:documentation></xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:element name="RequestRejected" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RejectionReasonCode" type="tns:RejectCode">
									<xs:annotation><xs:documentation>Код причины отклонения запроса.</xs:documentation></xs:annotation>
								</xs:element>
								<xs:element name="RejectionReasonDescription" type="basic:string-4000">
									<xs:annotation><xs:documentation>Причина отклонения запроса, в человекочитаемом виде.</xs:documentation></xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="RequestStatus" maxOccurs="1">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="StatusCode" type="xs:int">
									<xs:annotation><xs:documentation>Код бизнес статуса запроса.</xs:documentation></xs:annotation>
								</xs:element>
								<xs:element name="StatusParameter" minOccurs="0" maxOccurs="unbounded">
									<xs:complexType >
										<xs:sequence>
											<xs:element name="Key" minOccurs="1" type="xs:string"/>
											<xs:element name="Value" minOccurs="1" type="xs:string"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="StatusDescription" type="basic:string-4000">
									<xs:annotation><xs:documentation>Бизнес статус запроса, в человекочитаемом виде.</xs:documentation></xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element ref="tns:AsyncProcessingStatus" maxOccurs="1">
					</xs:element>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="Id" type="xs:ID"/>
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="RejectCode">
		<xs:restriction base="basic:string-50">
			<xs:enumeration value="ACCESS_DENIED"/>
			<xs:enumeration value="NO_DATA"/>
			<xs:enumeration value="UNKNOWN_REQUEST_DESCRIPTION"/>
			<xs:enumeration value="FAILURE"/>
		</xs:restriction>
	</xs:simpleType>


	<xs:element name="Request">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:SenderProvidedRequestData"/>
				<xs:element ref="tns:MessageMetadata">
					<xs:annotation>
						<xs:documentation>
							Информация об отправителе, дате отправки, маршрутизации сообщения, и другая (см. определение типа).
							Все данные заполняются СМЭВ.
							Элемент //MessageMetadata/SendingTimestamp содержит дату и время, начиная с которых отсчитывается срок исполнения запроса.
							Остальные данные предназначены для целей анализа (машинного и ручного) качества обслуживания
							информационной системы - получателя сообщения,
							а также для предоставления службе поддержки оператора СМЭВ в случае необходимости.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="basic:FSAttachmentsList"  minOccurs="0">
				</xs:element>
				<xs:element name="ReplyTo" type="basic:string-4000" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							Аналог обратного адреса; непрозрачный объект, по которому СМЭВ сможет вычислить, кому доставить ответ на этот запрос.
							При отправке ответа нужно скопировать это значение в //SenderProvidedResponseData/To/text().
							N.B. Формат обратного адреса не специфицирован, и может меняться со временем.
							Больше того, в запросах, пришедших от одного и того же отправителя через сколь угодно малый промежуток времени,
							обратный адрес не обязан быть одним и тем же.
							Если получатель хочет идентифицировать отправителя, можно использовать сертификат отправителя
							(//GetMessageIfAnyResponse/CallerInformationSystemSignature/xmldsig:Signature/...)
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="SenderInformationSystemSignature" type="basic:XMLDSigSignatureType" minOccurs="0">
					<xs:annotation><xs:documentation>ЭП-ОВ или ЭП-ПГУ отправителя. Подписан элемент //SenderProvidedRequestData</xs:documentation></xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="Id" type="xs:ID"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="Response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="OriginalMessageId" type="basic:UUID" minOccurs="0"/>
				<xs:element name="OriginalTransactionCode" type="basic:string-1500" minOccurs="0"/>
				<xs:element name="ReferenceMessageID" type="basic:UUID" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							Идентификатор сообщения, порождающего цепочку сообщений.
							При отправке подчиненных сообщений значение соответствует MessageID корневого сообщения цепочки сообщений.
							Для корневого сообщения значение совпадает с MessageID
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="tns:SenderProvidedResponseData"/>
				<xs:element ref="tns:MessageMetadata"/>
				<xs:element ref="basic:FSAttachmentsList"  minOccurs="0">
				</xs:element>
				<xs:element name="SenderInformationSystemSignature" type="basic:XMLDSigSignatureType" minOccurs="0">
					<xs:annotation><xs:documentation>ЭП-ОВ или ЭП-ПГУ отправителя. Подписан элемент //SenderProvidedResponseData</xs:documentation></xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="Id" type="xs:ID"/>
		</xs:complexType>
	</xs:element>


	<xs:element name="MessageMetadata">
		<xs:complexType>
			<xs:annotation><xs:documentation>Маршрутная информация, заполняемая СМЭВ.</xs:documentation></xs:annotation>
			<xs:sequence>
				<xs:element name="MessageId" type="basic:UUID" minOccurs="0"/>
				<xs:element name="MessageType" type="tns:MessageTypeType"/>
				<xs:element name="Sender" minOccurs="0">
					<xs:annotation>
                        <xs:documentation>
                            Информация об отправителе сообщения.
                        </xs:documentation>
                    </xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Mnemonic" type="basic:string-50" minOccurs="0">
								<xs:annotation><xs:documentation>Мнемоника отправителя. Для машинной обработки. Вычисляется на основании данных сетрификата.</xs:documentation></xs:annotation>
							</xs:element>
                            <xs:element name="HumanReadableName" type="basic:string-500">
                                <xs:annotation>
                                    <xs:documentation>
                                        Наименование отправителя в форме, удобной для восприятия человеком.
                                        Вычисляется на основании данных сертификата.
                                        Не обязано полностью совпадать с официальным названием организации или органа власти.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="SendingTimestamp" type="xs:dateTime">
					<xs:annotation><xs:documentation>Дата и время отправки сообщения в СМЭВ.</xs:documentation></xs:annotation>
				</xs:element>

				<xs:element name="Recipient" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							Получатель сообщения (вычислен маршрутизатором).
							Для широковещательных сообщений не заполняется.
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Mnemonic" type="basic:string-100" minOccurs="0">
								<xs:annotation>
                                    <xs:documentation>
                                        Мнемоника. Для машинной обработки.
                                    </xs:documentation>
                                </xs:annotation>
							</xs:element>
                            <xs:element name="HumanReadableName" type="basic:string-500">
                                <xs:annotation>
                                    <xs:documentation>
                                        Наименование в форме, удобной для восприятия человеком.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DeliveryTimestamp" type="xs:dateTime" minOccurs="0">
					<xs:annotation><xs:documentation>Дата и время доставки сообщения, по часам СМЭВ.</xs:documentation></xs:annotation>
				</xs:element>
				<xs:element name="Status" type="basic:InteractionStatusType" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="Id" type="xs:ID"/>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="MessageTypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="REQUEST"/>
			<xs:enumeration value="BROADCAST"/>
			<xs:enumeration value="RESPONSE"/>
		</xs:restriction>
	</xs:simpleType>
    
</xs:schema>


