XML/lxml__xml.etree__examples/parse_WSDL/smev-message-exchange-directive-1.3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="urn://x-artefacts-smev-gov-ru/services/message-exchange/types/directive/1.3"
           xmlns:basic="urn://x-artefacts-smev-gov-ru/services/message-exchange/types/basic/1.3"
           xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
           targetNamespace="urn://x-artefacts-smev-gov-ru/services/message-exchange/types/directive/1.3"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           jxb:version="2.0">

    <xs:annotation>
        <xs:documentation>Директивные версии видов сведений</xs:documentation>
        <xs:appinfo>
            <jxb:schemaBindings>
                <!-- Напишите здесь имя пакета, в который должны попасть классы, сгенерированные из этой схемы с помощью wsimport (для JAX-WS) -->
                <jxb:package name="ru.it.smev.message_exchange.autogenerated.types.directive.v1_3"/>
            </jxb:schemaBindings>
        </xs:appinfo>
    </xs:annotation>

    <xs:import namespace="urn://x-artefacts-smev-gov-ru/services/message-exchange/types/basic/1.3" schemaLocation="smev-message-exchange-basic-1.3.xsd"/>

    <xs:element name="Registry">
        <xs:annotation>
            <xs:documentation>Реестровый тип данных (для директивных ВВС)</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tns:RegistryRecord" maxOccurs="1000"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="RegistryRecord">
        <xs:annotation>
            <xs:documentation>Реестровая запись</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="RecordId" type="xs:int"/>
                <xs:element ref="tns:Record"/>
                <xs:element name="RecordSignature" type="basic:XMLDSigSignatureType" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>ЭП-ОВ, подписан элемент //Record.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="Record">
        <xs:annotation>
            <xs:documentation>Данные записи</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tns:RecordContent"/>
                <xs:element ref="basic:AttachmentHeaderList" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Заголовки вложенных файлов.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="basic:RefAttachmentHeaderList" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Заголовки файлов по ссылке.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PersonalSignature" type="basic:XMLDSigSignatureType" minOccurs="0" maxOccurs="10">
                    <xs:annotation>
                        <xs:documentation>ЭП-СП, подписан элемент //RecordContent.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="Id" type="xs:ID"/>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="RecordContent">
        <xs:annotation>
            <xs:documentation>Бизнес-данные записи (аналог MessagePrimaryContent)</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:any namespace="##other" processContents="lax">
                    <xs:annotation>
                        <xs:documentation>Корневой элемент XML-документа запроса присоединять сюда.</xs:documentation>
                    </xs:annotation>
                </xs:any>
            </xs:sequence>
            <xs:attribute name="Id" type="xs:ID"/>
        </xs:complexType>
    </xs:element>

</xs:schema>