XML/lxml__xml.etree__examples/parse_WSDL/smev-message-exchange-routing-1.3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="urn://x-artefacts-smev-gov-ru/services/message-exchange/types/routing/1.3"
           xmlns:basic="urn://x-artefacts-smev-gov-ru/services/message-exchange/types/basic/1.3"
           xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
           targetNamespace="urn://x-artefacts-smev-gov-ru/services/message-exchange/types/routing/1.3"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           jxb:version="2.0">

    <xs:annotation>
        <xs:documentation>Маршрутизация сообщения</xs:documentation>
        <xs:appinfo>
            <jxb:schemaBindings>
                <!-- Напишите здесь имя пакета, в который должны попасть классы, сгенерированные из этой схемы с помощью wsimport (для JAX-WS) -->
                <jxb:package name="ru.it.smev.message_exchange.autogenerated.types.routing.v1_3"/>
            </jxb:schemaBindings>
        </xs:appinfo>
    </xs:annotation>

    <xs:import namespace="urn://x-artefacts-smev-gov-ru/services/message-exchange/types/basic/1.3" schemaLocation="smev-message-exchange-basic-1.3.xsd"/>

    <xs:element name="Routing">
        <xs:complexType>
            <xs:annotation>
                <xs:documentation>Параметры маршрутизации сообщения</xs:documentation>
            </xs:annotation>
            <xs:sequence>
                <xs:element ref="tns:RoutingInformation"/>
                <xs:element name="RoutingSignature" type="basic:XMLDSigSignatureType">
                    <xs:annotation>
                        <xs:documentation>ЭП-ОВ, подписан элемент //RoutingInformation.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="RoutingInformation">
        <xs:complexType>
            <xs:annotation>
                <xs:documentation>Параметры маршрутизации сообщения</xs:documentation>
            </xs:annotation>
            <xs:sequence>
                <xs:element name="MessageID" type="basic:UUID"/>
                <xs:element ref="tns:DynamicRouting" minOccurs="0"/>
                <xs:element ref="tns:IdentifierRouting" minOccurs="0"/>
                <xs:element ref="tns:RegistryRouting" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="Id" type="xs:ID"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="RegistryRouting">
        <xs:complexType>
            <xs:annotation>
                <xs:documentation>Параметры маршрутизации реестровых записей сообщения</xs:documentation>
            </xs:annotation>
            <xs:sequence>
                <xs:element ref="tns:RegistryRecordRouting" maxOccurs="1000"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="RegistryRecordRouting">
        <xs:complexType>
            <xs:annotation>
                <xs:documentation>Параметры маршрутизации реестровой записи</xs:documentation>
            </xs:annotation>
            <xs:sequence>
                <xs:element name="RecordId" type="xs:int"/>
                <xs:element name="UseGeneralRouting" type="xs:boolean"/>
                <xs:element ref="tns:DynamicRouting" minOccurs="0"/>
                <xs:element ref="tns:IdentifierRouting" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="DynamicRouting">
        <xs:complexType>
            <xs:annotation>
                <xs:documentation>Параметры динамической маршрутизации</xs:documentation>
            </xs:annotation>
            <xs:sequence>
                <xs:element name="DynamicValue" type="tns:Value" maxOccurs="1000"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="IdentifierRouting">
        <xs:complexType>
            <xs:annotation>
                <xs:documentation>Параметры маршрутизации по идентификаторам</xs:documentation>
            </xs:annotation>
            <xs:sequence>
                <xs:element name="IdentifierValue" type="tns:Value" maxOccurs="1000"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="RoutingStatus">
        <xs:complexType>
            <xs:annotation>
                <xs:documentation>
                    Статус маршрутизации сообщения
                </xs:documentation>
            </xs:annotation>
            <xs:sequence>
                <xs:element ref="tns:DynamicRoutingStatus" minOccurs="0" maxOccurs="1000">
                    <xs:annotation><xs:documentation>Статусы динамической маршрутизации</xs:documentation></xs:annotation>
                </xs:element>
                <xs:element ref="tns:IdentifierRoutingStatus" minOccurs="0" maxOccurs="1000">
                    <xs:annotation><xs:documentation>Статусы маршрутизации по идентификаторам</xs:documentation></xs:annotation>
                </xs:element>
                <xs:element ref="tns:RegistryRoutingStatus" minOccurs="0" maxOccurs="1000">
                    <xs:annotation><xs:documentation>Статусы реестровой маршрутизации</xs:documentation></xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="RegistryRoutingStatus">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="RecordId" type="xs:int"/>
                <xs:element name="RoutingStatusCode" type="tns:RoutingStatusCodeType"/>
                <xs:element ref="tns:DynamicRoutingStatus" minOccurs="0" maxOccurs="1000"/>
                <xs:element ref="tns:IdentifierRoutingStatus" minOccurs="0" maxOccurs="1000"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="DynamicRoutingStatus">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="DynamicValue" type="tns:Value"/>
                <xs:element name="RoutingStatusCode" type="tns:RoutingStatusCodeType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="IdentifierRoutingStatus">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="IdentifierValue" type="tns:Value"/>
                <xs:element name="RoutingStatusCode" type="tns:RoutingStatusCodeType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="RoutingStatusCodeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="success">
                <xs:annotation><xs:documentation>Выполнено успешно</xs:documentation></xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="recipientNotFound">
                <xs:annotation><xs:documentation>Получатель сообщения не найден</xs:documentation></xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="invalidRegistryRecordId">
                <xs:annotation><xs:documentation>Некорректный идентификатор реестровой записи</xs:documentation></xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="signatureInvalid">
                <xs:annotation><xs:documentation>Подпись реестровой записи невалидна</xs:documentation></xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Value">
        <xs:restriction base="xs:string">
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>