XML/lxml__xml.etree__examples/parse_WSDL/smev-message-exchange-faults-1.3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="urn://x-artefacts-smev-gov-ru/services/message-exchange/types/faults/1.3"
           xmlns:basic="urn://x-artefacts-smev-gov-ru/services/message-exchange/types/basic/1.3"
           xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
           targetNamespace="urn://x-artefacts-smev-gov-ru/services/message-exchange/types/faults/1.3"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           jxb:version="2.0">

    <xs:annotation>
        <xs:documentation>
            Определения элементов, используемых в качестве SOAP fault-сообщений.
        </xs:documentation>
        <xs:appinfo>
            <jxb:schemaBindings>
                <!-- Напишите здесь имя пакета, в который должны попасть классы, сгенерированные из этой схемы с помощью ws import -->
                <jxb:package name="ru.it.smev.message_exchange.autogenerated.types.fault.v1_3"/>
            </jxb:schemaBindings>
        </xs:appinfo>
    </xs:annotation>


    <xs:import namespace="urn://x-artefacts-smev-gov-ru/services/message-exchange/types/basic/1.3" schemaLocation="smev-message-exchange-basic-1.3.xsd"/>

    <xs:element name="BusinessDataTypeIsNotSupported" type="tns:BusinessDataTypeIsNotSupported">
        <xs:annotation>
            <xs:documentation>
                Запрос с таким полным именем корневого элемента не поддерживается данной ИС.
                Вероятная причина: неверная настройка маршрутизации в СМЭВ.
                Действия СМЭВ: Сообщение будет направлено персоналу техподдержки СМЭВ для разбирательства.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:complexType name="BusinessDataTypeIsNotSupported">
        <xs:complexContent>
            <xs:extension base="basic:SmevFault">
                <xs:sequence>
                    <xs:element name="RootElementLocalName" type="xs:string">
                        <xs:annotation><xs:documentation>Local name корневого элемента содержательной части запроса.</xs:documentation></xs:annotation>
                    </xs:element>
                    <xs:element name="RootElementNamespaceURI" type="xs:string">
                        <xs:annotation><xs:documentation>Namespace URI корневого элемента содержательной части запроса.</xs:documentation></xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="InvalidContent" type="tns:InvalidContent">
        <xs:annotation>
            <xs:documentation>
                Содержательная часть сообщения (например, в случае запроса - //AcceptRequestRequest/PrimaryContent/element())
                не прошла валидацию по XSD, заявленной для типа запроса.
                Действия СМЭВ: Сообщение будет направлено персоналу техподдержки для разбирательства.
                N.B. Сообщения могут отвергаться этим способом <b>только</b> по результатам валидации по XML-схеме.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:complexType name="InvalidContent">
        <xs:complexContent>
            <xs:extension base="basic:SmevFault">
                <xs:sequence>
                    <xs:element name="ValidationError" minOccurs="1" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>
                                Сообщение об ошибке валидации. Текстовое содержимое элемента должно содержать сообщение об ошибке, возвращённое валидатором.
                            </xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:extension base="xs:string">
                                    <xs:attribute name="errorPosition" type="xs:int" use="required">
                                        <xs:annotation><xs:documentation>Позиция в XML-документе, в которой валидатор обнаружил ошибку.</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                </xs:extension>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="UnknownMessageType" type="basic:Void">
        <xs:annotation>
            <xs:documentation>
                a) При попытке выбрать ответ, указан тип сообщения, не зарегистрированный в СМЭВ
                (тип сообщения состоит из /GetResponseRequest/MessageTypeSelector/NamespaceURI и /GetResponseRequest/MessageTypeSelector/RootElementLocalName)
                b) При попытке выбрать запрос, указан тип сообщения, либо не зарегистрированный в СМЭВ, либо не принадлежащий текущему клиенту.
                Действия клиента: Уточнить тип сообщения, повторить запрос.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="TransactionCodeInvalid" type="basic:SmevFault">
        <xs:annotation>
            <xs:documentation>
                a) При попытке выбрать ответ, указан тип сообщения, не зарегистрированный в СМЭВ
                (тип сообщения состоит из /GetResponseRequest/MessageTypeSelector/NamespaceURI и /GetResponseRequest/MessageTypeSelector/RootElementLocalName)
                b) При попытке выбрать запрос, указан тип сообщения, либо не зарегистрированный в СМЭВ, либо не принадлежащий текущему клиенту.
                Действия клиента: Уточнить тип сообщения, повторить запрос.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="MessageIsAlreadySent" type="basic:Void">
        <xs:annotation>
            <xs:documentation>
                Сообщение с таким MessageID уже было отправлено ранее.
                Возможно в следующих ситуациях:
                a) Клиент пытался отправить сообщение, отправка прошла успешно, но в конце взаимодействия HTTP соединение оборвалось,
                и клиент не получил ответ от СМЭВ об успешной отправке.
                При повторной попытке отправить сообщение клиент получит этот fault.
                В этой ситуации нужно прекратить пытаться повторно послать сообщение.
                b) Клиент использует алгоритм генерации ID сообщений, не соответствующий МР.
                c) Клиент пытается послать несколько сообщений, используя один и тот же ID.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="InvalidMessageIdFormat" type="basic:Void">
        <xs:annotation>
            <xs:documentation>
                Идентификатор, присвоенный сообщению отправителем, не является корректным строковым представлением UUID, вариант 1 (см. RFC-4122).
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="StaleMessageId" type="basic:Void">
        <xs:annotation>
            <xs:documentation>
                Идентификатор (UUID), присвоенный сообщению отправителем, содержит старый timestamp.
                Возможно в следующих случаях:
                a) в системе отправителя неверно установлено время.
                Действия клиента: установить в операционной системе реальное время.
                b) в результате очень плохого качества связи, сообщение пытаются отправить в течение двух суток или более.
                Действия клиента: сгенерировать новый UUID, присвоить его сообщению, отправить сообщение.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="AttachmentContentMiscoordination" type="basic:Void">
        <xs:annotation>
            <xs:documentation>
                Содержимое элемента //AttachmentHeaderList не соответствует содержимому элемента //AttachmentContentList.
                Возможные ошибки:
                разное количество элементов в списках;
                существует элемент //AttachmentHeaderList/AttachmentHeader, у которого атрибут contentId не ссылается либо в никуда,
                либо на элемент, отличный от //AttachmentContentList/AttachmentContent.
                N.B. Порядок подэлементов //AttachmentHeaderList не обязан соответствовать порядку подэлементов //AttachmentContentList.
                Действия СМЭВ: сообщение отброшено.
                Действия клиента: Должно быть сформировано новое сообщение, с корректной координацией между заголовками и содержимим вложений.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="AttachmentSizeLimitExceeded" type="tns:AttachmentSizeLimitExceeded">
        <xs:annotation>
            <xs:documentation>
                Суммарный размер вложений превысил предел, установленный правилами СМЭВ.
                Действия СМЭВ: сообщение отброшено.
                Действия клиента: приложенные файлы должны быть уменьшены в размере (например, путём увеличения уровня сжатия JPEG).
                Должно быть сформировано новое сообщение, в котором суммарный размер вложений находится в допустимых пределах.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:complexType name="AttachmentSizeLimitExceeded">
        <xs:complexContent>
            <xs:extension base="basic:SmevFault">
                <xs:sequence>
                    <xs:element name="PermittedTotalAttachmentSize" type="xs:long">
                        <xs:annotation>
                            <xs:documentation>
                                Максимальный суммарный размер вложений, разрешённый для передачи в одном СМЭВ-сообщении, в байтах.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="RealTotalAttachmentSize" type="xs:long">
                        <xs:annotation>
                            <xs:documentation>
                                Суммарные размер вложений, переданных в отвергнутом сообщении, в байтах.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="QuoteLimitExceeded" type="tns:QuoteLimitExceeded">
        <xs:annotation>
            <xs:documentation>
                Суммарный размер вложений превысил размер оставшейся квоты, установленный правилами СМЭВ.
                Действия СМЭВ: сообщение отброшено.
                Действия клиента: Освобождение квоты.
                После освобождения квоты должно быть переотправлено новое сообщение, в котором суммарный размер вложений находится в допустимых для квоты пределах.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:complexType name="QuoteLimitExceeded">
        <xs:complexContent>
            <xs:extension base="basic:SmevFault">
                <xs:sequence>
                    <xs:element name="RemainedTotalQuoteSize" type="xs:long">
                        <xs:annotation>
                            <xs:documentation>
                                Текущее значение оставшейся квоты для СМЭВ-сообщении, в байтах.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="RealTotalAttachmentSize" type="xs:long">
                        <xs:annotation>
                            <xs:documentation>
                                Суммарные размер вложений, переданных в отвергнутом сообщении, в байтах.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension> </xs:complexContent>
    </xs:complexType>

    <xs:element name="AccessDenied" type="basic:Void">
        <xs:annotation>
            <xs:documentation>
                Данному отправителю не разрешена посылка сообщений данному получателю.
            </xs:documentation>
        </xs:annotation>
    </xs:element>


    <xs:element name="SignatureVerificationFault" type="tns:SignatureVerificationFault">
        <xs:annotation>
            <xs:documentation>
                ЭП-ОВ не прошла проверку.
                Действия клиента зависят от кода ошибки верификации.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:complexType name="SignatureVerificationFault">
        <xs:complexContent>
            <xs:extension base="basic:SmevFault">
                <xs:sequence>
                    <xs:element name="SignatureVerificationFault">
                        <xs:simpleType >
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="PoorSOAPEnvelopeFormat">
                                    <xs:annotation>
                                        <xs:documentation>
                                            Недопустимый формат SOAP-конверта: отсутствует soap:Header.
                                            Действия клиента: исправить ошибки в коде своей ИС.
                                        </xs:documentation>
                                    </xs:annotation>
                                </xs:enumeration>
                                <xs:enumeration value="NoSignatureFound">
                                    <xs:annotation>
                                        <xs:documentation>
                                            ЭП-ОВ не найдена в документе.
                                            Действия клиента: исправить ошибки в коде своей ИС.
                                        </xs:documentation>
                                    </xs:annotation>
                                </xs:enumeration>
                                <xs:enumeration value="IncorrectSignatureTarget">
                                    <xs:annotation>
                                        <xs:documentation>
                                            ЭП-ОВ подписывает не ту часть СМЭВ-сообщения, которую требуется подписать по спецификации СМЭВ.
                                            Действия клиента: исправить ошибки в коде своей ИС.
                                        </xs:documentation>
                                    </xs:annotation>
                                </xs:enumeration>
                                <xs:enumeration value="SignatureIsInvalid">
                                    <xs:annotation>
                                        <xs:documentation>
                                            Некорректная структура XMLDSig, либо подписанный фрагмент XML-фрагмент не соответствует значению ЭП-ОВ.
                                            Действия клиента: исправить ошибки в коде своей ИС.
                                        </xs:documentation>
                                    </xs:annotation>
                                </xs:enumeration>
                                <xs:enumeration value="CertificateIsNotFound">
                                    <xs:annotation>
                                        <xs:documentation>
                                            Не удалось найти сертификат клиента в ЕСИА.
                                            Действия клиента: обратиться в службу поддержки оператора СМЭВ.
                                        </xs:documentation>
                                    </xs:annotation>
                                </xs:enumeration>
                                <xs:enumeration value="CertificateIsExpired">
                                    <xs:annotation>
                                        <xs:documentation>
                                            Срок действия сертификата клиента истёк.
                                            Действия клиента: обратиться в удостоверяющий центр за новым сертификатом.
                                        </xs:documentation>
                                    </xs:annotation>
                                </xs:enumeration>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <xs:element name="SMEVFailure" type="basic:Void">
        <xs:annotation>
            <xs:documentation>
                Сообщение невозможно принять по причине сбоя в инфраструктуре СМЭВ.
                Действия клиента: должны предприниматься повторные попытки доставить сообщение, без ограничения количества попыток.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="IncorrectResponseContentType" type="basic:Void">
        <xs:annotation>
            <xs:documentation>
                Содержимое посылается через метод SendResponse,
                но, согласно реестру типов запросов СМЭВ, содержательная часть сообщения
                представляет из себя запрос или заявку, а не ответ.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="RecipientIsNotFound" type="basic:Void">
        <xs:annotation>
            <xs:documentation>
                Содержимое посылается через метод SendResponse,
                но значение //SendResponseRequest/To/text(), по данным СМЭВ,
                не соотевтствует никакому получателю.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="SenderIsNotRegistered" type="basic:Void">
        <xs:annotation>
            <xs:documentation>
                Отправитель не зарегистрирован в СМЭВ.
                Ошибка может также вызываться неправильной настройкой СМЭВ,
                а также сменой X-400 имени организации при получении нового сертификата,
                используемого для подписания ЭП-ОВ.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="RequestIsNotFound" type="basic:Void">
        <xs:annotation>
            <xs:documentation>
                При попытке отменить запрос, СМЭВ не находит в своём журнале
                данных этого запроса.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="TargetMessageIsNotFound" type="basic:Void">
        <xs:annotation>
            <xs:documentation>
                При попытке подтвердить получение сообщения, СМЭВ не находит неподтверждённого сообщения с таким ID.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="DestinationOverflow" type="tns:DestinationOverflow">
        <xs:annotation>
            <xs:documentation>
                Входящая очередь получателя переполнена.
                Обратиться в службу техподдержки СМЭВ, продолжать посылать сообщение.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:complexType name="DestinationOverflow">
        <xs:complexContent>
            <xs:extension base="basic:SmevFault">
                <xs:sequence>
                    <xs:element name="MessageBrokerAddress" type="xs:string"/>
                    <xs:element name="DestinationName" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <xs:element name="EndOfLifeReached" type="basic:Void">
        <xs:annotation>
            <xs:documentation>
                Превышено время жизни сообщения (end of life).
                Действия клиента: должны предприниматься повторные попытки доставить сообщение,
                возможно с увеличенным временем жизни.
            </xs:documentation>
        </xs:annotation>
    </xs:element>


</xs:schema>
		   
